body {
    background-color:#113a11;
}

#hero div {
    cursor: pointer;
}
/* 
@media screen and (min-width: 0px) and (max-width: 320px){
    #canvas {
        width: 320px;
    }
    #video {
        width: 320px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    #canvas {
        width: 372px;
    }
    #video {
        width: 372px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 425px) {
    #canvas {
        width: 424px;
    }
    #video {
        width: 424px;
    }
}


@media screen and (min-width: 426px) and (max-width: 575.98px) {
    #canvas {
        width: 572px;
    }
    #video {
        width: 572px;
    }
}


@media screen and (min-width: 426px) and (max-width: 575.98px) {
    #canvas {
        width: 572px;
    }
    #video {
        width: 572px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #canvas {
        width: 572px;
    }
    #video {
        width: 572px;
    }

    #root > div > div:nth-child(2) > div > div {
        width: 600px;
    }
} */